.fa-edit{
    background-color: rgb(46, 196, 247);
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.fa-trash-alt{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.fa-plus{
    position: fixed;
    padding: 6px 8px;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #001aff;
    background-color: #001aff;
    color: white;
    bottom: 30px;
    right: 40px;
}